<h1>Tasks#edit</h1>
<p>Find me in app/views/tasks/edit.html.erb</p>



<!-- <label for="name">Name: </label>
<input type="text" name="task[name]" id="name"
       value="???">

<label for="priority">Priority: </label>
<input type="text" name="task[priority]" id="priority"
       value="??"> -->

<%= render 'form' %>
