<h1>Tasks list</h1>

<ul>
  <% @tasks.each do |task| %>
  <li>
    <p>
      <%= task.name  %>
      <%= task.priority %>
    </p>

    <h2> <%= link_to task.name, tasks_path(@task) %></h2>


  </li>
  <% end  %>
</ul>

