

<!-- <form action="/tasks" method="post">
  <label for="name">Name: </label>
  <input type="text" name="task[name]" id="name" placeholder:"Enter task name">

  <label for="priority">Priority: </label>
  <input type="number" name="task[priority]" id="priority" placeholder="0..10">

  <input type="submit">
</form> -->


<%= render 'form' %>
